{{define "content"}}

  <main class="px-3">
    <h1>Find out what music you listen to the most</h1>
    <p class="lead">Login with spotify to find out what music you listen to the most</p>
    <a class="btn btn-primary" href="/topartistsauth" role="button">See top artists</a>
    <a class="btn btn-primary" href="/toptracksauth" role="button">See top tracks</a>
  </main>

{{end}}