{{define "content"}}
<h1>{{.User.DisplayName}}'s Top {{.Settings.Resultlimit}} Artists - {{.Settings.TimeLimitFormatter}}</h1>
    <div class="row row-cols-1 row-cols-md-1 g-0">
        {{range $artistInfo := .Result}}
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{{(index $artistInfo.Images 0).URL}}" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{$artistInfo.Name}}</h5>
                            <div class="progress">
                                <p class="card-text">Artist popularity:</p>
                                <div class="progress-bar" role="progressbar" style="width: {{$artistInfo.Popularity}}%;" aria-valuenow="{{$artistInfo.Popularity}}" aria-valuemin="0" aria-valuemax="100">{{$artistInfo.Popularity}}%
                            </div>
                        </div>
                        <p2 class="card-text"><small class="text-muted">Genres: {{range $artistInfo.Genres}} {{.}}{{end}}</small></p>
                    </div>
                </div>
            </div>
        </div>
    <\div>
    {{end}}
{{end}}