{{define "content"}}
<h1>{{.User.DisplayName}}'s Top {{.Settings.Resultlimit}} - {{.Settings.TimeLimitFormatter}}</h1>
    <a class="btn btn-primary" href="/createplaylist" role="button">Create playlist with these tracks</a>
    <div class="row-cols-1 justify-content-md-center g-0">
        {{range $trackInfo := .Result}}
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{{(index $trackInfo.Album.Images 0).URL}}" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{$trackInfo.Name}} by {{range $trackInfo.Artists }}{{.Name}}. {{end}}</h5>
                            <p class="card-text text-dark">Artist popularity:</p>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: {{$trackInfo.Popularity}}%" aria-valuenow="{{$trackInfo.Popularity}}" aria-valuemin="0" aria-valuemax="100">{{$trackInfo.Popularity}}%
                            </div>
                        </div>
                        <p2 class="card-text"><small class="text-muted">Album: {{$trackInfo.Album.Name}}</small></p>
                        <p2 class="card-text"><small class="text-muted">Released: {{$trackInfo.Album.ReleaseDate}}</small></p>
                    </div>
                </div>
            </div>
        </div>
        {{end}}
    </div>
{{end}}